{% extends "base.html" %}
{% block title %}User Login{% endblock %}
{% block head %}User Login{% endblock %}
{% block content %}
    {% if form.errors %}
        <p align="center" style="color:red;"> Your username and password is not vaild Please Enter Valid username and passward</p>
		
    {% endif %}
	<div style="text-align:center;margin:0px;">
    <form method="post" action=".">{% csrf_token %}
        <table border="0" align=center>
            <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
            <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
			<tr><td></td>
			<td style="text-align:center;"><input type="submit" value="Login" /></td>
			</tr>
			<tr><td></td><td><a href="/register" style="text-decoration:none;"> New User Register Here </a></td></tr>
        </table>
		
        <!----<input type="submit" value="Login" />---->
        <input type="hidden" name="next" value="/home"/>
		
    </form>
	</div>
    
	
{% endblock %}