{% extends "base.html" %}
{% block title %}User Registration Page{% endblock %}
{% block head %}User Registration Page{% endblock %}
{% block content %}

<div style="text-align:center;margin-left:600px;">
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
			<tr><td></td>
			<td style="text-align:center;"><input type="submit" value="summit" />
			<!---<a style="text-align:left;text-decoration:none;font-family:Century Gothic;" href="/"><input type="submit" value="Login"/></a></td>--->
			</tr>
        </table>
        
    </form>
    
</div>	
	
{% endblock %}